name: Terraform Backend Setup

on:
  workflow_dispatch:  # Execução manual

jobs:
  setup-backend:
    name: Criar Backend S3 e Migrar Estado
    runs-on: ubuntu-latest

    steps:
      # Checkout do repositório
      - name: Checkout do código
        uses: actions/checkout@v4

      # Configurar credenciais AWS
      - name: Configurar credenciais AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # Instalar Terraform
      - name: Instalar Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      # Inicializar Terraform
      - name: Terraform Init
        run: terraform init

      # Criar Bucket S3 (backend)
      - name: Criar Bucket S3
        run: terraform apply -auto-approve backend-s3.tf

      # Gerar arquivo provider.tf
      - name: Criar arquivo provider.tf
        run: |
          echo 'terraform {
            required_version = ">= 1.6.0"
            required_providers {
              aws = {
                source  = "hashicorp/aws"
                version = "~> 5.0"
              }
            }
            backend "s3" {
              bucket = "terraform-state-paulo"
              key    = "ec2/terraform.tfstate"
              region = "us-east-1"
              encrypt = true
            }
          }

          provider "aws" {
            region = "us-east-1"
          }' > provider.tf

      # Migrar estado local para S3
      - name: Migrar estado local para o backend remoto
        run: terraform init -migrate-state -input=false

      # Validar backend
      - name: Validar backend remoto
        run: terraform state list || echo "Nenhum recurso encontrado"
