name: Terraform Destroy

on:
  workflow_dispatch:  # Executa apenas quando acionado manualmente pelo GitHub

jobs:
  destroy:
    name: Destroy Infra AWS
    runs-on: ubuntu-latest

    steps:
      # Checkout do código
      - name: Checkout do código
        uses: actions/checkout@v4

      # Configurar credenciais AWS
      - name: Configurar credenciais AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Instalar Terraform
      - name: Instalar Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      # Inicializar Terraform
      - name: Terraform Init
        run: terraform init

      # Plano de destruição (para revisar logs)
      - name: Terraform Plan Destroy
        run: terraform plan -destroy -no-color

      # Executar destruição
      - name: Terraform Destroy
        run: terraform destroy -auto-approve -no-color
